# Ignore raw data files
Data/*_raw.json

# Ignore the test results
TestResults/

# Ignore Pokémons, except Arceus because he's best boy
Models/Pokemons/*.cs
!Models/Pokemons/Arceus.cs

# Ignore compilation & project files
bin/
obj/
.vscode/
.idea/